{#<div class="col-lg-2 list-categories">#}
    {#<div class="wrapper wrapper-content animated fadeInRight">#}
        {#<a href="{{ path('faq_bundle_admin.new_faq_category_view') }}"><i class="fa fa-plus">Добавить категорию</i></a>#}

        {#{% for i,item in categories %}#}
            {#<div class="row">#}
                {#<a href="{{ path('faq_bundle_admin.faq_category_show', {'category': item.id}) }}" class="show-category"#}
                   {#data-id="{{ item.id }}"><span>{{ item.title }}#}
                   {#</span> </a>#}
                {#<a class="edit-category" data-id="{{ item.id }}"#}
                   {#href="{{ path('faq_bundle_admin.edit_faq_category_view', {'category': item.id}) }}">#}
                    {#<i class="fa fa-wrench"></i>#}
                {#</a>#}
                {#<a class="remove-category" data-id="{{ item.id }}">#}
                    {#<i class="fa fa-times"></i>#}
                {#</a>#}
            {#</div>#}
        {#{% endfor %}#}
    {#</div>#}
{#</div>#}
{#<div class="col-lg-10 list-questions">#}

{#</div>#}


<div class="col-lg-3">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <div class="file-manager">
                <div class="hr-line-dashed"></div>
                <button class="btn btn-primary btn-block"><a
                            href="{{ path('faq_bundle_admin.new_faq_category_view') }}">Добавить категорию</a></button>
                <div class="hr-line-dashed"></div>
                <h5>Категории</h5>
                <ul class="folder-list" style="padding: 0">
                    {% for i,item in categories %}
                        <li><a href="{{ path('faq_bundle_admin.faq_category_show', {'category': item.id}) }}"
                               data-id="{{ item.id }}" class="show-category"><i
                                        class="fa fa-folder"></i> {{ item.title }}</a>
                            <a class="edit-category" data-id="{{ item.id }}"
                            href="{{ path('faq_bundle_admin.edit_faq_category_view', {'category': item.id}) }}">
                            <i class="fa fa-wrench"></i>
                            </a>
                            <a class="remove-category" data-id="{{ item.id }}">
                            <i class="fa fa-times"></i>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-9 animated fadeInRight list-questions">

</div>
