{#<div class="wrapper wrapper-content animated fadeInRight col-lg-4">#}
    {#<a href="#" class="new-question"><i class="fa fa-plus">Добавить вопрос</i></a>#}


    {#{% for i,item in questions %}#}
        {#<div class="row">#}
            {#<a><span>{{ item.message }}</a></span>#}

            {#<a class="edit-question" data-id="{{ item.id }}"#}
               {#href="#">#}
                {#<i class="fa fa-wrench"></i>#}
            {#</a>#}
            {#<a class="remove-question" data-id="{{ item.id }}">#}
                {#<i class="fa fa-times"></i>#}
            {#</a>#}
        {#</div>#}
    {#{% endfor %}#}
{#</div>#}


<div class="col-lg-3">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <div class="file-manager">
                <div class="hr-line-dashed"></div>
                <button class="btn btn-primary btn-block new-question">Добавить вопрос</button>
                <div class="hr-line-dashed"></div>
                <h5>Вопросы</h5>
                <ul class="folder-list" style="padding: 0">
                    {% for i,item in questions %}
                        <li>
                            <a class="remove-question"
                               data-id="{{ item.id }}">
                                <i class="fa fa-times"></i>
                            </a>
                            <a class="edit-question" data-id="{{ item.id }}"
                               href="#"><i
                                        class="fa fa-wrench"></i> {{ item.message }}</a>
                        </li>
                    {% endfor %}
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

<div class="col-sm-6 container-edit">
</div>
