<h2 class="heading">Didn't find an answer?</h2>
<div class="errors"></div>
<div class="answer" style="display: none">Thank you for your question.</div>
<div class="faq-request-form">
  <div class="input-row">
    <label for="{{ id() }}">Name</label>
    <div class="input-holder"><input id="{{ id() }}" type="text" name="name" placeholder="Your name"></div>
  </div>
  <div class="input-row">
    <label for="{{ id() }}">E-mail</label>
    <div class="input-holder"><input id="{{ id() }}" type="email" name="email" placeholder="example@gmail.com"></div>
  </div>
  <div class="input-row">
    <label for="{{ id() }}">Message</label>
    <div class="input-holder">
      <div class="progress">0/1000</div>
      <textarea id="{{ id() }}" cols="30" rows="10" name="question" placeholder="Type your message here"></textarea>
    </div>
  </div>
  <div class="actions">
    <button type="submit" class="btn-small-green">Send</button>
  </div>
</div>

