{#{% for i,item in model.toArray() %}#}
  {#<div class="question open-close">#}
    {#<div class="opener">Category:{{ item.title }} </div>#}
  {#</div>#}
  {#<a href="" class="edit" data-ordinal="{{ i }}">Edit category</a>#}
  {#<a href="" class="remove" data-id="{{ item.id }}">Remove category</a>#}
{#{% endfor %}#}
{#<div>#}
  {#<a href="" class="add">Add Category</a>#}
{#</div>#}

{#<div class="new-category"></div>#}


{#<div class="question open-close">#}
    {#<div class="opener">Question:{{ item.message }} </div>#}
    {#<div class="slide">#}
      {#<div class="holder">#}
        {#{% if item.answer %}#}
          {#<p>Answer:  {{ item.answer.message }}</p>#}
        {#{% else %}#}
          {#<div class="faq-answer-form">#}
            {#<div class="input-row">#}
              {#<label>Message</label>#}
              {#<div class="input-holder">#}
                {#<div class="progress">0/1000</div>#}
                {#<textarea cols="30" rows="10" name="message" placeholder="Type your message here"></textarea>#}
              {#</div>#}
            {#</div>#}
            {#<div class="actions">#}
              {#<button class="btn-small-green" data-question="{{ item.id }}">Ответить</button>#}
            {#</div>#}
          {#</div>#}
        {#{% endif %}#}
      {#</div>#}
    {#</div>#}
  {#</div>#}
  {#<a href="" class="edit" data-ordinal="{{ i }}">Edit question</a>#}
  {#<a href="" class="remove" data-id="{{ item.id}}">Remove question</a>#}

{#<div>#}
  {#<a href="" class="add">Add question</a>#}
  {#</div>#}

<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>FAQ</h2>
    <ol class="breadcrumb">
      <li>
        <a href="">Faq</a>
      </li>
      <li class="active">
        <strong>Categories</strong>
      </li>
    </ol>
  </div>
  <div class="col-sm-8">
    <div class="title-action">
      <a href="" class="btn btn-primary btn-sm add-category">Add category</a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="wrapper wrapper-content animated fadeInRight">
      <div class="new-category"></div>

      {% for i,item in model.toArray() %}
        <div class="faq-item">
          <div class="row">
            <div class="col-md-7">
              <span class="faq-question">{{ item.title }}</span>
            </div>
            <div class="col-md-3">
              <a data-toggle="collapse" href="#faq{{ i-1 }}" class="edit-category" data-ordinal="{{ i }}"><p>Edit category</p></a>

            </div>
            <div class="col-md-2 text-right">
              <a href="" class="remove-category" data-id="{{ item.id }}">Remove category</a>
            </div>
          </div>


          <div class="edit-category-{{ i }}"></div>


        </div>
        {#<div class="faq-item">#}
        {#<div class="row">#}
        {#<div class="col-md-7">#}
        {#<a><p>{{ item.title }} </p></a>#}
        {#</div>#}
        {#<div class="col-md-3">#}
        {#<a href="#faq{{ i-1 }}" data-toggle="collapse" data-ordinal="{{ i }}">Edit question</a>#}
        {#</div>#}
        {#<div class="col-md-2 text-right">#}
        {#<a href="" class="remove-category" data-id="{{ item.id }}">Remove question</a>#}
        {#</div>#}
        {#</div>#}
        {#<div class="row">#}
        {#<div class="col-lg-12">#}
        {#<div id="faq{{ i-1 }}" class="panel-collapse collapse faq-answer">#}
        {#<div class="edit-category-{{ i }}"></div>#}
        {#</div>#}
        {#</div>#}

        {#</div>#}
        {#</div>#}
      {% endfor %}
    </div>
  </div>
</div>



