<div class="col-lg-10">
  <div class="panel blank-panel">
    <div class="panel-heading">
      <div class="panel-options">
        <div class='tabs'>
          <ul class="nav nav-tabs">
            {% for key, trans in model.translations.models %}
              <li>
                <a data-view="{{ trans.locale }}" class="change-tab" href="#tab-{{ trans.locale }}">{{ trans.locale }}</a></li>
            {% endfor %}
          </ul>
          {% for key, trans in model.translations.models %}
            {% set transPrefix = 'translations['~ key ~']' %}
            <div id="tab-{{ trans.locale }}" class="tab">
              <textarea name="{{ field }}.{{ transPrefix }}.{{ fieldName }}"></textarea>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>

  </div>
</div>
